<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome to CometJet!</title>
</head>
<body>
  <h1>Welcome to CometJet, <%= name %>!</h1>
  <p>Your application has been accepted! You can now log in to your pilot account using the following credentials:</p>
  <p><strong>Login:</strong> Your email address</p>
  <p><strong>Temporary Password:</strong> <%= tempPassword %></p>
  <p>Please log in at <a href="<%= loginUrl %>"><%= loginUrl %></a> and change your password upon first login.</p>
  <p>We look forward to flying with you!</p>
  <p>Best regards,<br>CometJet Team</p>
</body>
</html>
